<main role="main" style="margin: 50px">
    <div class='container' ng-controller='SearchController as searchCtrl'>
      <!-- This is main view containter -->
      <div class='well'>
        <div class='row'>
          <div class="col-md-12">
            Search for any recent recent tweets with <input type='text' class="form-control" placeholder='Type to search (min 4 chars)' ng-model='searchCtrl.query' ng-keyup='searchCtrl.performTweetSearch()'>
          </div>
        </div>
        <p ng-show="searchCtrl.query == '' || searchCtrl.query == null">No search query entered.</p>
        <p ng-hide="searchCtrl.query == '' || searchCtrl.query == null"> Search results for query: {{ searchCtrl.query }}</p>

        <div class='row' style='margin-top: 10px;'>
          <div class='col-md-12'>
            <div class='row'>
              <div class='col-md-6'>
                Filters:
                <div class='row'>
                  <span class="col-md-6">
                    <input type='text' class="form-control" ng-model='searchCtrl.filters.text' placeholder='Text Containing'>
                  </span>
                  <span class="col-md-6">
                    <input type='text' class="form-control" ng-model='searchCtrl.filters.user.name' placeholder='Name Containing'>
                  </span>
                </div>
              </div>

              <div class='col-md-6'>
                Order:
                <div class='row'>
                  <span class="col-md-2">
                    <a href="" ng-click="searchCtrl.order('user.name')">Name</a>
                    <span class="sortorder" ng-show="searchCtrl.predicate === 'user.name'" ng-class="{reverse : searchCtrl.reverse}"></span>
                  </span>
                  <span class="col-md-2">
                    <a href="" ng-click="searchCtrl.order('text')">Text</a>
                    <span class="sortorder" ng-show="searchCtrl.predicate === 'text'" ng-class="{reverse : searchCtrl.reverse}"></span>
                  </span>
                  <span class="col-md-2">
                    <a href="" ng-click="searchCtrl.order('user.screen_name')">Handle</a>
                    <span class="sortorder" ng-show="searchCtrl.predicate === 'user.screen_name'" ng-class="{reverse : searchCtrl.reverse}"></span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class='row' style='margin-top: 20px'>
        <div class='col-md-12'>
          <div class='tweets' ng-repeat='tweet in searchCtrl.tweets | filter:searchCtrl.filters | orderBy: searchCtrl.predicate: searchCtrl.reverse'>
            <div class='tweet well' style='margin-top:10px;'>
              <div class='row'>
                <div class='user-image col-md-1'>
                  <img src="{{tweet.user.profile_image_url}}" class='img-thumbnail'>
                </div>
                <div class='user-image col-md-9'>
                  <div class='row'>
                    <span> <strong>{{tweet.user.name}}</strong></span>
                    <span class="label label-primary handle" ng-click="searchCtrl.getInfo(tweet.user.screen_name)">@{{tweet.user.screen_name}}</span>
                  </div>
                  <div class='row'>
                    <div class='tweet-text'>
                      {{tweet.text}}
                    </div>
                  </div>
                <div>
              <div>
            </div>
          </div>
        </div>
    </div>
  </main>